body{margin:0;font-family:Arial;background:white}
nav{background:#000;color:#fff;padding:10px}
nav ul{display:flex;gap:10px;list-style:none}
.hero{background:#4da3ff;color:white;padding:60px}
.section{padding:40px}
.gray{background:#eee}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:20px}
.card{background:white;padding:20px;border-radius:10px}
.skill{margin:10px 0}
.bar{background:#ccc;border-radius:10px}
.bar div{height:8px;background:#4da3ff}
.whatsapp{position:fixed;bottom:20px;right:20px}
#backToTop{position:fixed;bottom:70px;right:20px}
.study-card{display:flex;gap:15px;align-items:center}
.study-logo{width:70px}
#certModal{display:none;position:fixed;inset:0;background:rgba(0,0,0,.8)}
#certModal iframe{width:80%;height:80%;margin:5%}
