:root{
  --bg:#f5f7fb;
  --card:white;
  --text:#222;
  --primary:#2563eb;
}

body{
  margin:0;
  font-family:Arial;
  background:var(--bg);
  color:var(--text);
}

/* Loader */
#loader{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
  transition:.8s;
}

.loader-logo{
  color:white;
  font-size:28px;
  opacity:0;
  transform:translateY(20px);
  animation:fadeUp 1s forwards;
}

#loader.hide{
  opacity:0;
  visibility:hidden;
}

@keyframes fadeUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* Progress Bar */
#progressBar{
  position:fixed;
  top:0;
  left:0;
  height:3px;
  width:0%;
  background:#2563eb;
  z-index:9999;
}

/* Sections */
section{
  opacity:0;
  transform: translateY(60px) scale(0.98);
  filter: blur(6px);
  transition: all 1s cubic-bezier(0.22,1,0.36,1);
}

section.active{
  opacity:1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/* Layout */
.container{
  max-width:900px;
  margin:auto;
  padding:60px 20px;
}

/* Cards */
.card{
  background:rgba(255,255,255,0.7);
  backdrop-filter:blur(12px);
  padding:20px;
  border-radius:16px;
  transition:.4s;
}

.card:hover{
  transform:translateY(-10px) scale(1.02);
  box-shadow:0 20px 40px rgba(0,0,0,.15);
}

/* Buttons */
.btn{
  background:var(--primary);
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
}

/* Profile */
.profile{
  width:120px;
  border-radius:50%;
  transition:1s;
}

.profile:hover{
  transform:scale(1.05);
}
