body{
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont;
  background:#f5f7fb;
}

/* Loader */
#loader{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.loader-logo{
  color:white;
  font-size:28px;
  animation:fadeUp 1s forwards;
}

#loader.hide{opacity:0;visibility:hidden;}

@keyframes fadeUp{
  from{opacity:0;transform:translateY(20px);}
  to{opacity:1;transform:none;}
}

/* Progress */
#progressBar{
  position:fixed;
  top:0;
  height:3px;
  background:#2563eb;
  width:0%;
  z-index:9999;
}

/* Sections */
section{
  opacity:0;
  transform:translateY(60px) scale(.98);
  filter:blur(6px);
  transition:1s;
}

section.active{
  opacity:1;
  transform:none;
  filter:none;
}

.container{
  max-width:900px;
  margin:auto;
  padding:60px 20px;
}

/* Cards */
.card{
  background:white;
  padding:20px;
  border-radius:12px;
  margin:10px;
  transition:.3s;
}

.card:hover{
  transform:translateY(-10px);
}

/* Grid */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

/* Timeline */
.timeline{
  padding-left:80px;
  position:relative;
}

.timeline::before{
  content:"";
  position:absolute;
  left:40px;
  width:2px;
  background:#2563eb;
  top:0;
  bottom:0;
}

.timeline-item{
  display:grid;
  grid-template-columns:80px 60px 1fr;
  margin-bottom:30px;
}

.timeline-dot img{
  width:40px;
}

/* Tags */
.tags span{
  background:#2563eb;
  color:white;
  padding:5px 10px;
  margin:5px;
  border-radius:20px;
}

/* Modal */
#certModal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:none;
  align-items:center;
  justify-content:center;
}

#certModal iframe{
  width:80%;
  height:80%;
}
